<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        h1 {
            font-family: Chalkduster;
            color: coral;
        }

        #header, #footer {
            padding: 20px;
            border: 10px;
            text-align: center;
        }

        body {
            padding: 25px;
            background-color: floralwhite;
        }

        .tab-content > div {
            height: 300px;
        }

        .buttons {
            position: relative;
            bottom: -10px;
        }
    </style>
</head>
<body>
<div id="header">
    <h1>User Registration</h1>
</div>
{{ body }}
<div id="footer">
    <img src="https://d33wubrfki0l68.cloudfront.net/f2de54c7df6bfbd4a611c6280b67e4900f593f5a/c3ce9/uploads/global/wunder-logo-2020.svg"
         alt="Wunder Mobility" class="">
    <p>Test Assignment / Sasa Kocic</p>
</div>
</body>
</html>