<div class="container">
    <h2>Congratulations</h2>
    <h3>Data successfully saved.</h3>
    <p>paymentDataId: {{ paymentDataId }}</p>
</div>
<script>
    window.onload = function () {
        localStorage.clear();
    }
</script>

