<div class="container">
    <h2>Signup</h2>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#personal" id="personal_information">Personal
                information</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#address" id="address_information">Address information</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#payment" id="payment_information">Payment information</a>
        </li>
    </ul>
    <form action="/signup/register" method="post">
        <div class="tab-content">
            <div id="personal" class="container tab-pane active"><br>
                <div class="input-group mb-2">
                    <input type="text" class="form-control" placeholder="First Name" id="firstname" name="firstname">
                    <input type="text" class="form-control" placeholder="Last Name" id="lastname" name="lastname">
                </div>
                <div class="form-group">
                    <label for="telephone">Telephone:</label>
                    <input type="text" class="form-control" placeholder="Enter telephone" id="telephone"
                           name="telephone">
                </div>
                <br/>
                <div class="buttons">
                    <button type="button" class="btn btn-primary"
                            onclick="document.getElementById('address_information').click()" onchange="save(this)">Next
                        >
                    </button>
                </div>
            </div>
            <div id="address" class="container tab-pane fade"><br>
                <div class="input-group mb-2">
                    <input type="text" class="form-control" placeholder="Street" id="street" name="street">
                    <input type="text" class="form-control" placeholder="House number" id="number" name="number">
                </div>
                <div class="input-group mb-2">
                    <input type="text" class="form-control" placeholder="Zip code" id="zip_code" name="zip_code">
                    <input type="text" class="form-control" placeholder="City" id="city" name="city">
                </div>
                <br/>
                <div class="buttons">
                    <button type="button" class="btn btn-secondary"
                            onclick="document.getElementById('personal_information').click()">< Prev
                    </button>
                    <button type="button" class="btn btn-primary"
                            onclick="document.getElementById('payment_information').click()">Next >
                    </button>
                </div>
            </div>
            <div id="payment" class="container tab-pane fade"><br>
                <div class="form-group">
                    <label for="account_owner">Account owner:</label>
                    <input type="text" class="form-control" placeholder="Account owner" id="account_owner"
                           name="account_owner">
                </div>
                <div class="form-group">
                    <label for="iban">IBAN:</label>
                    <input type="text" class="form-control" placeholder="IBAN" id="iban" name="iban" maxlength="22"
                           size="22">
                </div>
                <br/>
                <div class="buttons">
                    <button type="button" class="btn btn-secondary"
                            onclick="document.getElementById('address_information').click()">< Prev
                    </button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    function setPage() {
        if (document.getElementById("street").value !== "" ||
            document.getElementById("number").value !== "" ||
            document.getElementById("zip_code").value !== "" ||
            document.getElementById("city").value !== "") {
            document.getElementById('address_information').click();
        }
        if (document.getElementById("account_owner").value !== "" ||
            document.getElementById("iban").value !== "") {
            document.getElementById('payment_information').click();
        }
    }

    function loadSavedEntry(input) {
        if (localStorage.getItem(input) !== null) {
            document.getElementById(input).value = localStorage.getItem(input);
        }
        document.getElementById(input).addEventListener("change", function () {
            localStorage.setItem(input, document.getElementById(input).value);
        });
    }

    function loadSavedEntries() {
        [...document.getElementsByClassName('form-control')].forEach(function (v) {
            loadSavedEntry(v.name);
        });
    }

    window.onload = function () {
        loadSavedEntries();
        setPage();
    }
</script>
